<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eklass">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application

        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowDesignationActivity"></activity>
        <activity android:name=".AddDesignationActivity"></activity>
        <activity android:name=".UpdateLocationActivity"></activity>
        <activity android:name=".DashboardActivity"></activity>
        <activity android:name=".SchoolAttendanceActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".BusAttendanceActivity"></activity>
        <activity android:name=".AddStaffActivity"></activity>
        <activity android:name=".AddLocationActivity"></activity>
        <activity android:name=".ShowStaffActivity"></activity>
        <activity android:name=".DutyActivity"></activity>
        <activity android:name=".ShowLocationsActivity"></activity>
        <activity
            android:name=".ScanActivity">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:name=".CaptureActivityPortrait">

        </activity>

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>